<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Components | Responsive |NMDAD-I</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="styles/css/vendor/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/css/helpers.css">
        <link rel="stylesheet" href="styles/css/grid.css">
        <link rel="stylesheet" href="styles/css/jaywalker.css">
        <link rel="stylesheet" href="styles/css/fonts.css">
        <link rel="stylesheet" href="styles/css/buttons.css">
        <link rel="stylesheet" href="styles/css/offcanvas.css">
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <link rel="stylesheet" href="styles/css/main.css">
        <link rel="stylesheet" href="styles/css/home.css">
        <script src="js/vendor/modernizr-custom.js"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="styles/css/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="styles/css/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="styles/css/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="styles/css/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="styles/css/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="styles/css/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="styles/css/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="styles/css/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="styles/css/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="styles/css/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="styles/css/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="styles/css/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="styles/css/images/favicon-16x16.png">
        <link rel="manifest" href="styles/css/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD496R5dPFmCAfcMCejf6AwWjdW5ji3RCA&signed_in=true&callback=initialize" async defer></script>
		<script>
			function random_land() {
				var select = document.getElementById('foo');
				var items = select.getElementsByTagName('option');
				var index= Math.floor(Math.random() * items.length);

				select.selectedIndex = index;

			}
		</script>
		<script>
			function initialize() {
				var mapProp = {
					center:new google.maps.LatLng(50.8371,4.36761),
					zoom:5,
					mapTypeId:google.maps.MapTypeId.ROADMAP
				};

				var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

				var myLatlng = {lat: 50.8371, lng: 4.36761};
				var myLatlng2 = {lat: 52.5235, lng: 13.4115};
				var myLatlng3 = {lat: 48.8566, lng: 2.35097};

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title: 'Click to zoom'
				});

				var marker2 = new google.maps.Marker({
					position: myLatlng2,
					map: map,
					title: 'Click to zoom'
				});

				var marker3 = new google.maps.Marker({
					position: myLatlng3,
					map: map,
					title: 'Click to zoom'
				});

				marker.addListener('click', function() {
					map.setZoom(8);
					map.setCenter(marker.getPosition());
				});
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<>

		<!-- Offcanvas -->
		<div class="offcanvas">
			<!-- Offcanvas Header -->
			<section class="offcanvas__header">
				<h1>633|&lt;</h1>
				<a class="navigation-toggle offcanvas__navigation-toggle" href="#" title="Close the offcanvas" data-navtype="offcanvas-open">
					<span>Close</span>
				</a>
			</section>
			<!-- Offcanvas Navigation -->
			<nav class="offcanvas__navigation">
				<ul class="clearfix">
					<li><a class="navigation__item" href="#/" title="Back to the homepage"><span class="fa fa-home"></span>Land</a></li>
					<li><a class="navigation__item" href="#/countries/details/{{0}}" title="Willekeurig land"><span class="fa fa-home"></span>Willekeurig</a></li>
					<li><a class="navigation__item" href="#/about" title="Read about the Worldbank Application"><span class="fa fa-user"></span>Contact</a></li>
					<li><a class="navigation__item" href="#/disclaimer" title="Disclaimer"><span class="fa fa-user"></span>Disclaimer</a></li>
				</ul>
			</nav><!-- End Offcanvas Navigation -->
		</div><!-- End Offcanvas -->

		<!-- Page: Countries -->
		<div class="page active" id="countries">
			<!-- Header Wrapper -->
			<div class="grid__wrapper header-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<header class="header">
								<!-- Header Logo -->
								<section class="header__logo">
									<h1><a href="index.html" title="Back to the homepage"><span>Responsive Components</span></a></h1>
									<h2>Responsive grid, navigation, images, ...</h2>
								</section><!-- End Header Logo -->
								<!-- Navigation Toggle 
								data-navtype="headernav-open" when responsive push down menu
								data-navtype="offcanvas-open" when responsive offcanvas
								-->
								<a class="navigation-toggle header__navigation-toggle" href="#" data-navtype="offcanvas-open">
									<span>Toggle</span>
								</a><!-- End Navigation Toggle -->
								<!-- Navigation -->
								<nav class="header__navigation">
									<ul class="clearfix">
										<li><a class="navigation__item" href="#/" title="Back to the homepage">Land</a></li>
										<li><a class="navigation__item" href="#/countries/details/{{0}}" title="Willekeurig land"><span class="fa fa-home"></span>Willekeurig</a></li>
										<li><a class="navigation__item" href="#/about" title="Read about the Worldbank Application"><span class="fa fa-user"></span>Contact</a></li>
										<li><a class="navigation__item" href="#/disclaimer" title="Disclaimer"><span class="fa fa-user"></span>Disclaimer</a></li>
									</ul>
								</nav><!-- End Navigation -->
							</header>
						</div>
					</div>
				</div>
			</div><!-- End Header Wrapper -->
			<!-- Countries List -->
			<div class="grid__wrapper main-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<h1>Welk land wil je ontdekken</h1>
						</div>

						<div class="grid__column-bp1-12">
							<!-- Container for a list layout switcher
							<section class="list-layout">
								<a class="btn-fa btn-fa-tiles" href="#" data-listlayout="tiles" data-target="countries-list"><span>Tiles</span></a>
								<a class="btn-fa btn-fa-list" href="#" data-listlayout="list" data-target="countries-list"><span>List</span></a>
							</section> End Container -->
							<section class="countries-list"></section>
						</div>
						<div id="googleMap" style="width:500px;height:380px;margin:0 auto";></div>
					</div>
				</div>
			</div><!-- End Countries List -->
		</div><!-- End Page: Countries -->
		<div id="map"></div>
		<!-- Page: Country Details -->
		<div class="page active" id="countries_details">
			<!-- Header Wrapper -->
			<div class="grid__wrapper header-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<header class="header">
								<!-- Navigation Back -->
								<a class="navigation-back header__navigation-back">
									<span>BAck</span>
								</a><!-- End Navigation Toggle -->
							</header>
						</div>
					</div>
				</div>
			</div><!-- End Header Wrapper -->
			<!-- Country -->
			<div class="grid__wrapper main-wrapper">
				<div class="grid__container">
					<div class="grid__row country-details country__details">

					</div>
					<script src="http://www.webpolls.eu/en/getpoll/?id=8399">
					</script>
				</div>
			</div><!-- End Country -->
		</div><!-- End Page: Country Details -->
		<!-- Page: Willekeurig -->
		<div class="page" id="willekeurig">
			<!-- Header Wrapper -->
			<div class="grid__wrapper header-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<header class="header">
								<!-- Header Logo -->
								<section class="header__logo">
									<h1><a href="index.html" title="Back to the homepage"><span>Responsive Components</span></a></h1>
									<h2>Responsive grid, navigation, images, ...</h2>
								</section><!-- End Header Logo -->
								<!-- Navigation Toggle
								data-navtype="headernav-open" when responsive push down menu
								data-navtype="offcanvas-open" when responsive offcanvas
								-->
								<a class="navigation-toggle header__navigation-toggle" href="#" data-navtype="offcanvas-open">
									<span>Toggle</span>
								</a><!-- End Navigation Toggle -->
								<!-- Navigation -->
								<nav class="header__navigation">
									<ul class="clearfix">
										<li><a class="navigation__item" href="#/" title="Back to the homepage">Land</a></li>
										<li><a class="navigation__item" href="#/countries/details/{{0}}" title="Willekeurig land"><span class="fa fa-home"></span>Willekeurig</a></li>
										<li><a class="navigation__item" href="#/about" title="Read about the Worldbank Application"><span class="fa fa-user"></span>Contact</a></li>
										<li><a class="navigation__item" href="#/disclaimer" title="Disclaimer"><span class="fa fa-user"></span>Disclaimer</a></li>
									</ul>
								</nav><!-- End Navigation -->
							</header>
						</div>
					</div>
				</div>
			</div><!-- End Header Wrapper -->
			<!-- Countries List -->
			<div class="grid__wrapper main-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<h1>Willekeurig</h1>
							<div class="grid__row country-details country__details">

							</div>
							<script src="http://www.webpolls.eu/en/getpoll/?id=8399">
							</script>
						</div>
					</div>
				</div>
			</div><!-- End Countries List -->
		</div><!-- End Page: willekeurig -->

		<!-- Page: About -->
		<div class="page" id="about">
			<!-- Header Wrapper -->
			<div class="grid__wrapper header-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<header class="header">
								<!-- Header Logo -->
								<section class="header__logo">
									<h1><a href="index.html" title="Back to the homepage"><span>Responsive Components</span></a></h1>
									<h2>Responsive grid, navigation, images, ...</h2>
								</section><!-- End Header Logo -->
								<!-- Navigation Toggle 
								data-navtype="headernav-open" when responsive push down menu
								data-navtype="offcanvas-open" when responsive offcanvas
								-->
								<a class="navigation-toggle header__navigation-toggle" href="#" data-navtype="offcanvas-open">
									<span>Toggle</span>
								</a><!-- End Navigation Toggle -->
								<!-- Navigation -->
								<nav class="header__navigation">
									<ul class="clearfix">
										<li><a class="navigation__item" href="#/" title="Back to the homepage">Land</a></li>
										<li><a class="navigation__item" href="#/countries/details/{{0}}" title="Willekeurig land"><span class="fa fa-home"></span>Willekeurig</a></li>
										<li><a class="navigation__item" href="#/about" title="Read about the Worldbank Application"><span class="fa fa-user"></span>Contact</a></li>
										<li><a class="navigation__item" href="#/disclaimer" title="Disclaimer"><span class="fa fa-user"></span>Disclaimer</a></li>
									</ul>
								</nav><!-- End Navigation -->
							</header>
						</div>
					</div>
				</div>
			</div><!-- End Header Wrapper -->
			<!-- Countries List -->
			<div class="grid__wrapper main-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<h1>About the Worldbank Application</h1>
						</div>
						<div id="container_contact" class="grid__column-bp1-12">
								<div id="formulier" class="grid__column-bp1-6">
									<form id="form1">

										<p>
											<label>Naam</label>
											<input name="name" type="text" class="feedback-input" placeholder="Naam" id="name" />
										</p>

										<p>
											<label>Email</label>
											<input name="email" type="text" class="feedback-input" id="email" placeholder="Email" />
										</p>

										<p>
											<label>Geboortedatum</label>
											<input name="datum" type="date" class="feedback-input" id="datum"/>
										</p>

										<p>
											<label>Land</label>
											<input name="land" type="text" class="feedback-input" id="land" placeholder="Land" />
										</p>

										<p>
											<label>Commentaar</label>
											<textarea name="text" class="feedback-input" id="comment" placeholder="Commentaar"></textarea>
										</p>


										<div class="submit">
											<input type="submit" value="VERZENDEN" id="button-blue"/>
											<div class="ease"></div>
										</div>
									</form>
								</div>

								<div class="grid__column-bp1-6">
									<h2>gegevens</h2>
									<p>
										Bij het ontwerpen van een website denk je goed na over alle aspecten.
										Van header tot footer, van landingpagina tot “Over ons” pagina, en natuurlijk ook de Contactpagina.
										Het is belangrijk om ervoor te zorgen het ontwerp overal in de website perfect is.
										<br><br>
										Besteed extra aandacht aan dit onderdeel van je website.
										Als je het goed doet trek je de aandacht van de gebruiker en neemt hij contact met je op.
										Doe je het niet goed dan schrik je bezoekers af (en raak je misschien een potentiele klant of bezoeker kwijt).
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End Countries List -->
		</div><!-- End Page: About -->

		<!-- Page: disclaimer -->
		<div class="page" id="disclaimer">
			<!-- Header Wrapper -->
			<div class="grid__wrapper header-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<header class="header">
								<!-- Header Logo -->
								<section class="header__logo">
									<h1><a href="index.html" title="Back to the homepage"><span>Responsive Components</span></a></h1>
									<h2>Responsive grid, navigation, images, ...</h2>
								</section><!-- End Header Logo -->
								<!-- Navigation Toggle
								data-navtype="headernav-open" when responsive push down menu
								data-navtype="offcanvas-open" when responsive offcanvas
								-->
								<a class="navigation-toggle header__navigation-toggle" href="#" data-navtype="offcanvas-open">
									<span>Toggle</span>
								</a><!-- End Navigation Toggle -->
								<!-- Navigation -->
								<nav class="header__navigation">
									<ul class="clearfix">
										<li><a class="navigation__item" href="#/" title="Back to the homepage">Land</a></li>
										<li><a class="navigation__item" href="#/countries/details/{{0}}" title="Willekeurig land"><span class="fa fa-home"></span>Willekeurig</a></li>
										<li><a class="navigation__item" href="#/about" title="Read about the Worldbank Application"><span class="fa fa-user"></span>Contact</a></li>
										<li><a class="navigation__item" href="#/disclaimer" title="Disclaimer"><span class="fa fa-user"></span>Disclaimer</a></li>
									</ul>
								</nav><!-- End Navigation -->
							</header>
						</div>
					</div>
				</div>
			</div><!-- End Header Wrapper -->
			<!-- Countries List -->
			<div class="grid__wrapper main-wrapper">
				<div class="grid__container">
					<div class="grid__row">
						<div class="grid__column-bp1-12">
							<h1>Disclaimer</h1>
						</div>
                        <div class="grid__column-bp1-12">
                            <h2>Geen garanties</h2>
                            <p>Deze website wordt verstrekt "as is" zonder enige verklaringen of garanties, expliciet of impliciet. Randompicker.com (Verenigde Interactive sro) geeft geen garanties met betrekking tot deze website of de informatie en materialen op deze website.
                                 
                                Zonder afbreuk te doen aan de algemeenheid van het voorgaande paragraaf, is Randompicker.com (Verenigde Interactive sro) geen garantie dat:</p>
                                <ul> 
                                    <li> Deze website te allen constant beschikbaar zijn, of beschikbaar zijn; of </li>
                                    <li> De informatie op deze website volledig, juist, nauwkeurig of niet-misleidend. </li>
                                 </ul>

                                <p>Niets op deze website vormt, of is bedoeld om te vormen, advies van welke aard dan ook.
                                 
                                Beperking van de aansprakelijkheid
                                Randompicker.com (United sro Interactive) is niet aansprakelijk voor u (of onder de wet van het contract, de wet van onrechtmatige daad of anderszins) met betrekking tot de inhoud van, of het gebruik van, of anderszins in verband met deze website:</p>
                                <ul>
                                    <li>In de mate dat de website gratis-of-charge wordt verstrekt, voor directe schade;</li>
                                    <li>Voor enige indirecte, speciale of gevolgschade; of</li>
                                    <li>Voor elk bedrijf, verlies van inkomsten, inkomen, de winst of verwachte besparingen, verlies van contracten of zakelijke relaties, verlies van reputatie of goodwill, of verlies of beschadiging van informatie of gegevens.</li>
                                </ul>
                                 
                                <p>Deze beperkingen van aansprakelijkheid van toepassing zijn, zelfs als Randompicker.com (Verenigde Interactive sro) uitdrukkelijk is ingelicht over het potentiële verlies.</p>
                                 
                                <h2>Uitzonderingen</h2>
                                 
                               <p> Niets in deze website disclaimer zal uitsluiten of beperken enige garantie geïmpliceerd door de wet, dat het onwettig zou zijn om uit te sluiten of te beperken; en niets in deze website disclaimer zal uitsluiten of beperken aansprakelijkheid United Interactive's met betrekking tot een:
                                -Death of persoonlijk letsel veroorzaakt door Randompicker.com nalatigheid; -fraud of misleiding van de kant van Randompicker.com; of -een stof waarin het illegaal of onrechtmatig Randompicker.com (Verenigde Interactive sro) uit te sluiten of te beperken, of om te proberen of strekken tot uitsluiting of beperking, de verplichting zou zijn.</p>
                                 
                                <h2>Redelijkheid</h2>
                                 
                                <p>Door het gebruik van deze site, gaat u ermee akkoord dat de uitsluitingen en beperkingen van aansprakelijkheid in deze website disclaimer ingesteld zijn redelijk.
                                Als je niet denken dat ze redelijk zijn, moet u deze website niet te gebruiken.</p>
                                 

                                 

					</div>
				</div>
			</div><!-- End Countries List -->
		</div><!-- End Page: disclaimer -->
		<!-- Handlebars Templates -->
		<script id="countries-tiles-template" type="text/x-handlebars-template">
			{{#if this}}
			<ul class="grid__row">
				<select onchange="location = this.options[this.selectedIndex].value;" id="foo">
					<option value="keuze">Kies een land</option>
				{{#each this}}
					<option value="#/countries/details/{{iso2Code}}">
				<li class="grid__column-bp1-12 grid__column-bp2-6 grid__column-bp3-4 grid__column-bp4-3">
					<div class="country__tile" data-id="{{id}}">
						<!--<img class="country__flag" src="http://www.geonames.org/flags/x/{{toLowerCase iso2Code}}.gif" />-->

								<section class="country__title">
									{{name}}
								</section>

						<!--
						<section class="country__place">
							<span class="place__region">{{region.value}}</span>
							<span class="place__city" data-lat="{{latitude}}" data-lng="{{longitude}}">{{capitalCity}}</span>
						</section>
						<section class="country__money">
							<span class="money__income-level" data-income-id="{{incomeLevel.id}}">{{incomeLevel.value}}</span>
							<span class="money__lending-type" data-lending-id="{{lendingType.id}}">{{lendingType.value}}</span>
						</section>
						-->
					</div>
				</li>
				</option>
				{{/each}}

				</select>
				<button id="random_land" onclick="random_land()">Random</button>
			</ul>
			{{else}}
				<p>No countries present in the Worldbank database!</p>
			{{/if}}

		</script>
		<script id="countries-list-template" type="text/x-handlebars-template">
			{{#if this}}
			<ul class="grid__row">
				{{#each this}}
				<li class="grid__column-bp1-12">
					<div class="country__listitem" data-id="{{id}}">
						<img class="country__flag" src="http://www.geonames.org/flags/x/{{toLowerCase iso2Code}}.gif" />
						<section class="country__title">
							<h3>{{name}} <small>({{iso2Code}})</small></h3>
						</section>
						<a data-id="{{iso2Code}}" class="btn-readmore" href="#/countries/details/{{iso2Code}}" title="Detail fro the country: {{name}}"><span class="fa fa-chevron-right"></span></a>
					</div>
				</li>
				{{/each}}
			</ul>
			{{else}}
				<p>No countries present in the Worldbank database!</p>
			{{/if}}
		</script>
		<script id="country-details-template" type="text/x-handlebars-template">
			{{#if this}}
				{{#if this.info}}
				<h1 class="country-details-title grid__column-bp1-12">{{this.info.name}}</h1>
				<img class="country__flag grid__column-bp1-6" src="http://www.geonames.org/flags/x/{{toLowerCase this.info.iso2Code}}.gif" />
				<section class="country__info grid__column-bp1-12">
					<!--<span class="place__region">{{this.info.region.value}}</span>
                    <span class="place__city" data-lat="{{this.info.latitude}}" data-lng="{{this.info.longitude}}">{{this.info.capitalCity}}</span>
                    <span class="money__income-level" data-income-id="{{this.info.incomeLevel.id}}">{{this.info.incomeLevel.value}}</span>
                	<span class="money__lending-type" data-lending-id="{{this.info.lendingType.id}}">{{this.info.lendingType.value}}</span>
        		--></section>
				{{/if}}
				{{#if this.cellularSubscriptions}}
					<div class="grid__column-bp1-12">
						<section class="country-details-cellularsubscriptions">
							<h3>Birth rate, crude (per 1,000 people)</h3>
							<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart">
							</section>
						</section>
					</div>
				{{/if}}
				{{#if this.cellularSubscriptions2}}
				<div class="grid__column-bp1-12">
					<section class="country-details-cellularsubscriptions">
						<h3>Cause of death, by injury (% of total)</h3>
						<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart2">
						</section>
					</section>
				</div>
				{{/if}}
				{{#if this.cellularSubscriptions3}}
				<div class="grid__column-bp1-12">
					<section class="country-details-cellularsubscriptions">
						<h3>Unemployment, total (% of total labor force)</h3>
						<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart3">
						</section>
					</section>
				</div>
				{{/if}}
				{{#if this.cellularSubscriptions4}}
				<div class="grid__column-bp1-12">
					<section class="country-details-cellularsubscriptions">
						<h3>Internet users (per 100 people)</h3>
						<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart4">
						</section>
					</section>
				</div>
				{{/if}}
			{{#if this.cellularSubscriptions5}}
			<div class="grid__column-bp1-12">
				<section class="country-details-cellularsubscriptions">
					<h3>Population, total</h3>
					<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart5">
					</section>
				</section>
			</div>
			{{/if}}
			{{#if this.cellularSubscriptions6}}
			<div class="grid__column-bp1-12">
				<section class="country-details-cellularsubscriptions">
					<h3>Urban population</h3>
					<section class="ct-chart ct-minor-seventh country-details-cellularsubscriptions-chart6">
					</section>
				</section>
			</div>
			{{/if}}
			{{else}}
				<p>No country present in the Worldbank database with the selected ISO2Code!</p>
			{{/if}}
		</script><!-- End Handlebars Templates -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		<script src="js/vendor/signals.js"></script>	
		<script src="js/vendor/hasher.js"></script>
		<script src="js/vendor/crossroads.js"></script>	
		<script src="js/helpers.js"></script>	
		<script src="js/utilities.js"></script>	
		<script src="js/jaywalker.js"></script>	
		<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>	
		<script src="js/main.js"></script>
	</body>
</html>