html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body */
body {
	background: rgba(240,240,240,1);
	
	font-family: 'Roboto', sans-serif;
}

/*
* Header
*/
.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;

    background: rgba(97,187,70,1);
	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
}
.header-wrapper > div > div > div {
	margin-bottom: 0;
}
.header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.header::after {
	clear: both; 
}
.header__logo {
    position: absolute;
	float: left;
    margin-left: 43%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.header__logo > h1 {
	margin-top: 0;
	padding: 0;
}
.header__logo > h1 > a {
	display: block;
	width: 40px;
	height: 30px;
	background: url('images/logo2.png') no-repeat top left;
	background-size: cover;
}
.header__logo > h1 > a > span {
	display: none;
}
.header__logo > h2 {
	display: none;
}
.header__navigation-toggle {
	float:left;
	margin-top: 0.5rem;
	
	text-decoration: none;
    color: rgb(160, 245, 0);
}
.header__navigation-toggle::before {
	display: block;
	content: '\f0c9';
	
	font-family: FontAwesome;
	font-size: 2rem;
	
	transition: all 320ms ease-out 0s;
}
.offcanvas-open .header__navigation-toggle::before,
.headernav-open .header__navigation-toggle::before {
	transform: rotate(90deg);
	transition: all 320ms ease-out 0s;
}
.header__navigation-toggle > span {
	display: none;
}
.header__navigation {
	float: left;
	width: 100%;
	display: none;	
}
.headernav-open #header__navigation {
	display: block;
}
.header__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
.header__navigation > ul > li {
	float: left;
	width: 100%;
}
.header__navigation .navigation__item {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 1rem;
	padding-right: 1rem;
	
	background: rgba(97,187,70,1);
	
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: 700;
	text-transform: uppercase;
}
.header__navigation li:nth-of-type(2) .navigation__item {
    background: rgba(97,187,70,1);
}
.header__navigation li:nth-of-type(3) .navigation__item {
    background: rgba(97,187,70,1);
}
.header__navigation li:nth-of-type(4) .navigation__item {
    background: rgba(97,187,70,1);
}
.header__navigation li:nth-of-type(5) .navigation__item {
	background: rgba(150,61,151, 1);
}

/*
* Main Wrapper
*/
.main-wrapper {
	margin-top: 52px;
}

/* 
* baseline
*/
.baseline {
	font-size: 1rem;
}

/*
* Media queries
* Mobile first and then upscaling
*/
@media (min-width: 30rem) {
	.header__logo > h1 > a {
		width: 40px;
		height: 30px;
	}
	.header__navigation {
		width: 100%;
	}
	.header__navigation > ul > li {
		width: 50%;
	}
	.header__navigation > ul > li:last-of-type {
		width: 100%;
	}
	.header__navigation .navigation__item {
		height: 64px;
		line-height: 64px;
		
		text-align: center;
	}
	
	/*
	* Main Wrapper
	*/
	.main-wrapper {
		margin-top: 102px;
	}

	/*
	* Home
	*/
	#home header > h1 {
		padding: 0.5rem;
		
		font-size: 1.6rem;
	}
	#home .baseline {
		font-size: 1.2rem;
	}
}
@media (min-width: 58rem) {
	.offcanvas {
		display: none;
	}
	.header__logo > h1 > a {
        margin-top: 15px;
		width: 150px;
		height: 112px;
	}
	.header__navigation-toggle {
		display: none;
	}
	.header__navigation {
		width: auto;
		display: block;
	}
	.header__navigation > ul > li {
		width: auto;
	}
	.header__navigation > ul > li:last-of-type {
		width: auto;
	}
	.header__navigation .navigation__item {
		height: 128px;
		line-height: 128px;
		
		text-align: left;
	}
	
	/*
	* Main Wrapper
	*/
	.main-wrapper {
		margin-top: 128px;
	}
	
	/*
	* Home
	*/
	#home header > h1 {
		padding: 1rem;
		
		font-size: 2rem;
	}
	#home .baseline {
		font-size: 1.4rem;
	}
}

#random_land{
	display: block;
	margin: 10px auto;
}

#form-div {
	background-color:rgb(160, 245, 0);
	padding : 35px 35px 50px 35px;
	width: 450px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgba(97,187,70,1);
	color: rgba(97,187,70,1);
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused{
	color:rgba(97,187,70,1);
	border:rgba(97,187,70,1) solid 3px;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgba(97,187,70,1);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: rgba(97,187,70,1);
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #bbb;
	transition: .3s ease;
}

.submit:hover .ease{
	width:100%;
	background-color:white;
}

#container_contact{
	margin: 60px 0;
}

#formulier{
	margin-top: 40px
}

#errorimage {

    padding-top: 40px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back {
    margin-left: auto;
    margin-right: auto;
    width: 10em ;
    text-decoration: none;
}